header {
    background-color: #244751;
}

body {
    background-color: whitesmoke;
    font-family: 'Fjalla One', sans-serif;
}

main {
    background-color: white;
    padding: 16px;
}

.post {
    margin-bottom: 48px;
}

.post .user-info img{
    border-radius: 50%;
}

body :hover {
    color: blue;
}